@font-face {
    font-family: "font-reg";
    src: url(../fonts/OldschoolGrotesk-NormalBook.otf);
}

@font-face {
font-family: "font-bold";
src: url(../fonts/OldschoolGrotesk-NormalMedium.otf);
}

@font-face {
font-family: "font-title";
src: url(../fonts/RubikVinyl-Regular.ttf);
}

:root {
--text: #e4e4e4;
--background: #141414;
--secondary: #26d8d8e3;
--primary: #116d75;
}

.chart-dashboard-container {
    padding-top: 50px;
}

.chart-dashboard-container h1 {
    font-family: "font-reg", sans-serif;
    color: var(--background);
    font-size: 1.69rem;
    margin: 0;
    margin-left: 60px;
    margin-bottom: 40px;
    text-decoration: underline;
}

.first-chart-container {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 60px; /* Ajoute un espace entre les graphiques */
    margin-bottom: 50px;
}

.second-chart-container {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 70px; /* Ajoute un espace entre les graphiques */
    margin-bottom: 50px;
}

.chart-component {
    width: 20vw; /* Ajuste la largeur de chaque graphique */
    text-align: center; /* Centre le texte sous le graphique */
    height: 40vh;
}