:root {
    --secondary: #26d8d8e3;
    --primary: #116d75;
    --background: #141414;
    --text: #e4e4e4;
    --search-border: #e4e4e48c;
    --search: rgba(55, 55, 55, 0.9);
  }

@font-face {
font-family: "font-reg";
src: url(../fonts/OldschoolGrotesk-NormalBook.otf);
}

@font-face {
font-family: "font-bold";
src: url(../fonts/OldschoolGrotesk-NormalMedium.otf);
}

@font-face {
font-family: "font-title";
src: url(../fonts/RubikVinyl-Regular.ttf);
}

.nav-bar::after {
    position: absolute;
    content: "";
    background-color: var(--search-border);
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
}

.nav-bar-logo {
    color: var(--text);
    font-family: "font-title", sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;
    user-select: none;
    background: linear-gradient(139deg, #26d8d8 0%, #116d75 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s ease-in-out;
}

.nav-bar-logo:hover {
    transform: scale(1.01);
}
.nav-bar-logo:active {
    transform: scale(0.99);
}

.nav-bar-p {
    color: var(--text);
    font-family: "font-reg", sans-serif;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-bar-p p {
    margin: 0 40px;
    position: relative;
}

.nav-bar-p p::after {
    position: absolute;
    content: "";
    background-color: var(--secondary);
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
.nav-bar-p p:hover {
    color: var(--secondary);
}

.nav-bar-p p:hover::after {
    width: 100%;
    transition: width 0.2s;
}

.nav-bar-p p:active {
    transform: scale(0.97);
}

.nav-bar-input-wrapper {
    display: flex;
    align-items: center;
    background: linear-gradient(139deg, rgba(20,34,219,1) 0%, rgba(147,200,14,1) 100%);
    border-radius: 12px;
    padding: 10px 16px;
    border: none;
    transition: all 0.1s ease-in-out;
}

.nav-bar-input-wrapper:focus-within {
    transform: scale(1.03);
}

.nav-bar-input-wrapper span {
    padding: 0;
    color: var(--text);
    font-family: "font-reg", sans-serif;
    font-size: 0.9rem;
    margin-right: 8px;
}

.nav-bar-input-wrapper input {
    border: none;
    background: transparent;
    color: var(--text);
    font-family: "font-reg", sans-serif;
    font-size: 0.9rem;
    padding: 0;
    letter-spacing: 0.8px;
    outline: none;
}

.nav-bar-input-wrapper input::placeholder {
    color: var(--text);
    font-family: "font-reg", sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}

.nav-bar-primary-button {
    color: var(--text);
    border: none;
    border-radius: 8px;
    font-family: "font-reg", sans-serif;
    font-size: 0.9rem;
    padding: 12px 16px;
    padding-top: 14px;
    cursor: pointer;
    background-color: var(--primary);
    margin-left: 12px;
    transition: all 0.1s ease-in-out;
}
.nav-bar-primary-button:hover {
    transform: scale(1.03);
}
.nav-bar-primary-button:active {
    transform: scale(0.97);
}

.nav-bar-secondary-button {
    color: var(--text);
    border: none;
    border-radius: 8px;
    font-family: "font-reg", sans-serif;
    font-size: 0.9rem;
    padding: 12px 16px;
    padding-top: 14px;
    cursor: pointer;
    background-color: var(--secondary);
    margin-right: 12px;
    transition: all 0.1s ease-in-out;
}
.nav-bar-secondary-button:hover {
    transform: scale(1.03);
}
.nav-bar-secondary-button:active {
    transform: scale(0.97);
}

.nav-bar-hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px; /* Largeur du menu */
    height: 30px; /* Hauteur totale du menu */
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-left: -60px;
    margin-top: calc((92px - 40px)/2);
}

.nav-bar-hamburger-menu-line {
    width: 100%;
    height: 5px; /* Épaisseur de chaque barre */
    background: linear-gradient(139deg, #26d8d8 0%, #116d75 100%);
    border-radius: 5px;
    display: block;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

/* Quand le menu est actif (croix) */
.nav-bar-hamburger-menu.active .nav-bar-hamburger-menu-line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.nav-bar-hamburger-menu.active .nav-bar-hamburger-menu-line:nth-child(2) {
    opacity: 0; /* Cacher la barre du milieu */
}

.nav-bar-hamburger-menu.active .nav-bar-hamburger-menu-line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.nav-bar-menu {
    position: fixed;
    top: 0;
    right: -17vw; /* Caché à droite par défaut */
    width: 17vw;
    height: 100vh;
    background-color: var(--primary);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease-in-out;
    z-index: 1;
    border-radius: 14px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    padding-bottom: 30px;
}

.nav-bar-menu.active {
    right: -20px; /* Fait apparaître le menu en le déplaçant vers la gauche */
}

.nav-bar-menu-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 40px);
}

.nav-bar-user-photo {
    width: 8vw;
    height: 8vw;
    border-radius: 150px;
}

.nav-bar-menu-content p {
    font-family: "font-reg", sans-serif;
    color: var(--background);
    font-size: 1.3rem;
    text-align: center;
}

.nav-bar-menu-content button {
    color: var(--background);
    border: none;
    border-radius: 18px;
    font-family: "font-reg", sans-serif;
    font-size: 1rem;
    padding: 12px 16px;
    padding-top: 14px;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--background);
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}

.nav-bar-menu-content button:hover {
    color: var(--primary);
    background-color: var(--background);
}

.nav-bar-menu-content button:active {
    transform: scale(0.97);
}